<div class="page-title-cont page-title-small grey-light-bg plr-30 " style="padding-bottom: 20px;">
  <div class="relative container align-left">
    <div class="row">

      <div class="col-md-8">
        <h1 class="page-title page-title-margin">Calenders</h1>
      </div>

    </div>
  </div>
</div>
<div class="grey-light-bg plr-30 plr-0-767 pb-50 clearfix">

  <div class="white-bg plr-30 pt-50 pb-30">

    <div class="relative">

      <div class="port-filter text-center text-left-767">
        <ng-container *ngFor="let album of albums;">
          <a href="javascript:void(0);" class="filter" (click)="expand(album.id)">{{album.name}}</a>
        </ng-container>
      </div>
      

      <ngx-masonry [options]="masonryOptions" style="margin: 0 auto;">
        <div ngxMasonryItem *ngFor="let albumImage of visibleAlbums;" class="masonry-item-card" role="button">
          <div class="post-prev-img">
            <div class="lightbox-item">
                
                    <div class="port-img-overlay">
                      <img src="{{albumImage.imageUrl}}" alt="calendar" class="mb-10" (click)="expand(albumImage.albumId)">
                    </div>
                     <div class="port-overlay-cont" *ngIf="!isBackButtonHidden && albumImage.isCoverImage" (click)="expand(albumImage.albumId)">
                        <div class="port-btn-cont">
                            <div aria-hidden="true" class="arrow_right" >
                            </div>
                        </div>
                    </div>
                    <div class="port-overlay-cont" *ngIf="isBackButtonHidden" (click)="showOnlyAlbums()">
                      <div class="port-btn-cont">
                          <div aria-hidden="true" class="arrow_back" >
                          </div>
                      </div>
                  </div>
                
            </div>
        </div>
          
          
          
        </div>
      </ngx-masonry>
    </div>
  </div>
</div>