<div class="page-title-cont page-title-small grey-light-bg plr-30 " style="padding-bottom: 20px;">
    <div class="relative container align-left">
      <div class="row">
        
        <div class="col-md-8">
          <h1 class="page-title page-title-margin">Blogs</h1>
        </div>
        
      </div>
    </div>
</div>

<div class="grey-light-bg plr-30 plr-0-767 clearfix pb-50 ">    
    <div class="white-bg plr-30 pt-50 pb-30">
        <ngx-masonry [options]="masonryOptions" style="" [ordered]="true" (itemsLoaded)="itemsLoaded()">
            <div ngxMasonryItem *ngFor="let post of allPost;index as idx" class="masonry-item-card">
              
                <div class="post-prev-img">
                    <div class="lightbox-item">
                        <a href="{{post.url}}" class="lightbox" target="_blank" rel=noopener>
                            <div class="port-img-overlay">
                                <img class="port-main-img" src="{{post.featuredImage}}" alt="img">
                            </div>
                             <div class="port-overlay-cont">
                                <div class="port-btn-cont">
                                    <div aria-hidden="true" class="icon_link"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="post-prev-title">
                    <h3><a href="{{post.url}}" target="_blank" rel=noopener>{{(post.title.length>30)? (post.title | slice:0:30)+'..':(post.title)}}</a></h3>
                </div>

                <div class="post-prev-info">
                    {{post.date | date:'MMM yy'}}<span class="slash-divider">/</span>BHARAT MANE
                </div>

                <div class="post-prev-text" [innerHTML]="post.excerpt">

                </div>

                <div class="post-prev-more-cont clearfix">
                    <div class="post-prev-more left">
                        <a href="{{post.url}}" target="_blank" rel=noopener class="blog-more">READ MORE</a>
                    </div>
                </div>
            </div>
          </ngx-masonry>
    </div>
</div>
