.i-am-coder
{
    background:url(/assets/images/BMHeader.jpg) no-repeat;background-position:50% 0
}

.i-am-runner
{
    background:url(/assets/images/BMHeader_Run.jpg) no-repeat; background-position:50% 0
}

.i-am-photographer
{
    background:url(/assets/images/BMHeader_Photographer.jpg) no-repeat;background-position:50% 0
}